<template name="tags">
	<div class="tags-scope">

		<fieldset class="field">

			<label for="{{collection_field}}">{{label}}</label>
			<select multiple="" class="ui multiple search selection dropdown" name="{{collection}}_{{field}}">in
				<option value="">{{placeholder}}</option>
				{{#if options}}
					{{#each options}}
					<option value="{{value}}" selected="{{inArray value ../value}}">{{humanize title}}</option>
					{{/each}}
				{{else}}
					{{#each value}}
						<option value="{{this}}" selected="{{inArray this ../value}}">{{humanize this}}</option>
					{{/each}}
				{{/if}}
			</select>

		</fieldset>
		
	</div>
</template>
