$import "variables"

.hidden:not(.divider) {
    display: none;
}

.padding-wrapper {
    padding: 20px;
}

[class*="small padding-top"] { padding-top: $spacing-default / 2; }
[class*="small padding-right"] { padding-right: $spacing-default / 2; }
[class*="small padding-bottom"] { padding-bottom: $spacing-default / 2; }
[class*="small padding-left"] { padding-left: $spacing-default / 2; }

[class*="medium padding-top"] { padding-top: $spacing-default; }
[class*="medium padding-right"] { padding-right: $spacing-default; }
[class*="medium padding-bottom"] { padding-bottom: $spacing-default; }
[class*="medium padding-left"] { padding-left: $spacing-default; }

[class*="large padding-top"] { padding-top: $spacing-default * 2; }
[class*="large padding-right"] { padding-right: $spacing-default * 2; }
[class*="large padding-bottom"] { padding-bottom: $spacing-default * 2; }
[class*="large padding-left"] { padding-left: $spacing-default * 2; }

[class*="huge padding-top"] { padding-top: $spacing-default * 4; }
[class*="huge padding-right"] { padding-right: $spacing-default * 4; }
[class*="huge padding-bottom"] { padding-bottom: $spacing-default * 4; }
[class*="huge padding-left"] { padding-left: $spacing-default * 4; }

[class*="small margin-top"] { margin-top: $spacing-default / 2; }
[class*="small margin-right"] { margin-right: $spacing-default / 2; }
[class*="small margin-bottom"] { margin-bottom: $spacing-default / 2; }
[class*="small margin-left"] { margin-left: $spacing-default / 2; }

[class*="medium margin-top"] { margin-top: $spacing-default; }
[class*="medium margin-right"] { margin-right: $spacing-default; }
[class*="medium margin-bottom"] { margin-bottom: $spacing-default; }
[class*="medium margin-left"] { margin-left: $spacing-default; }

[class*="large margin-top"] { margin-top: $spacing-default * 2; }
[class*="large margin-right"] { margin-right: $spacing-default * 2; }
[class*="large margin-bottom"] { margin-bottom: $spacing-default * 2; }
[class*="large margin-left"] { margin-left: $spacing-default * 2; }

[class*="huge margin-top"] { margin-top: $spacing-default * 4; }
[class*="huge margin-right"] { margin-right: $spacing-default * 4; }
[class*="huge margin-bottom"] { margin-bottom: $spacing-default * 4; }
[class*="huge margin-left"] { margin-left: $spacing-default * 4; }

.relative {
  position: relative;
}

.aligned {
    &.center {
        text-align: center;
    }

    &.left {
        text-align: left;
    }

    &.right {
        text-align: right;
    }
}

.link {
    &.unstyled {
        color: inherit;
    }

    &.no-underline {
        text-decoration: none;
    }

    &.no-hover-styles:hover {
        color: inherit;
    }
}

.floated {
  &.right {
    float: right;
  }
  &.left {
    float: left;
  }
}

.no {
  &.margin-top {
    margin-top: 0;
  }
  &.margin-left {
    margin-left: 0;
  }
  &.margin-bottom {
    margin-bottom: 0;
  }
  &.margin-right {
    margin-right: 0;
  }
  &.margin {
    margin: 0;
  }
  &.padding-top {
    padding-top: 0;
  }
  &.padding-left {
    padding-left: 0;
  }
  &.padding-bottom {
    padding-bottom: 0;
  }
  &.padding-right {
    padding-right: 0;
  }
  &.padding {
    padding: 0;
  }
}

.pointer {
  cursor: pointer;
}

.inline {
  display: inline;
}

pre {
  background-color: $color-accent;
  display: block;
}

a {
  color: $color-font;
  text-decoration: none;
  font-weight: bold;
}


.btn {
  background: transparent;
  border: 1px solid $color-black;
  border-radius: 2px;
  padding: $spacing-default / 1.5;
  text-transform: uppercase;
  outline-color: transparent !important;
  transition: box-shadow .4s ease-out,
              background .3s,
              color .3s;


  &:hover {
    background: $color-black;
    color: $color-white;
    font-weight: 600;
    box-shadow:  1px 1px 5px -2px $color-black,
                -1px 1px 5px -2px $color-black;
  }
}
// adds gutter on large viewports
.text-container {
  padding-left: $spacing-default;
  padding-right: $spacing-default;

  $media (min-width: 768px) {
    padding-left: $spacing-default * 4;
    padding-right: $spacing-default * 4;
  }
}
.header-scope {
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;

  padding: $spacing-default;
  border-bottom: 1px solid fade(darken($color-grey, 25%), 25%);
  box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.25);

  margin-bottom: $spacing-default;
  background-color: $color-white;

  .logo {
    height: $spacing-default *2;
    overflow: hidden;

    img {
      height: 100%;
    }
  }
}